.both {
	clear: both !important ;
	float: none !important ;
}

.nod ,
.error:empty ,
.unauthed form ,
.authed ,
html[data-session_id] .unauthed.session_id {
	display: none ;
}
html[data-session_id] .authed.session_id {
	display: block ;
}
.authed.session_id.header {
	padding: 5px 0 ;
}
.authed.session_id.header .form-logout > div {
	float: left ;
	padding: 0 5px ;
	margin: 0 5px ;
}
.authed.session_id.header > * {
	float: right ;
}
.error {
	color: red ;
}
.unauthed:hover form {
	display: block ;
}
.trans tr:nth-child(1) td {
	font-weight: bold ;
}
.trans-table tbody tr {
	cursor: pointer ;
}
.trans-table tbody tr:hover td {
	background-color: LightYellow ;
}
.trans tr:first-of-type td:first-of-type {
	display: none ;
}
.left > * {
	float: left ;
	clear: none ;
	width: auto ;
	max-height: 300px ;
	overflow: auto ;
}